# Global
.*.swp
.DS_Store
.env

# Application
data/
docker-compose.yml
etc/app/default.conf
etc/app/default.template.conf

# PHPStorm
.idea

# Netbeans
nbproject/
/nbproject/
/nbproject/private/
/nbproject/private/private.properties

# VSCode
.vscode/

# SSL Certs
etc/ssl/
!etc/ssl/.gitkeep
etc/ssl_sources/certificate_info.cnf
etc/ssl_sources/params.sh