[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = v3_ca
prompt             = no

[ req_distinguished_name ]
C  = US  # Replace with your country
ST = YourState  # Replace with your state
L  = YourCity  # Replace with your city
O  = YourOrganization  # Replace with your organization
CN = example.com  # Replace with your Primary domain

[ req_ext ]
subjectAltName = @alt_names

[ v3_ca ]
subjectAltName = @alt_names
basicConstraints = CA:TRUE
keyUsage = digitalSignature, keyEncipherment, keyCertSign
extendedKeyUsage = serverAuth

[ alt_names ]
DNS.1 = example.com
DNS.2 = www.example.com
DNS.3 = sub.example.com
DNS.4 = another-sub.example.com
DNS.5 = *.example.net  # Wildcard for example.net